.color-card {
    margin: 10px 20px 10px 0;
    padding: 10px 20px;
    border-radius: 20px;
    position: relative;
}

.color-card__button {
    height: 50px;
    width: 145px;
    border-radius: 20px;
    border: none;
    padding: 0px 50px;
    margin-right: 10px;
    font-weight: bold;
    transition: border-radius 0.2s;
}

.color-card__button {
    height: 50px;
    width: 145px;
    border-radius: 20px;
    border: none;
    padding: 0px 50px;
    margin-right: 10px;
    font-weight: bold;
    transition: border-radius 0.2s;
}

.color-card__button:hover {
    border-radius: 0;
}

.color-card__button--delete {
    color: #ffffff;
    background-color: #000000;
}

.color-card__button--cancel {
    color: #000000;
    background-color: #ffffff;
}

.color-card__icon {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    padding: 14px;
    top: 8px;
    transition: transform 0.2s;
}

.color-card__icon:hover {
    transform: translateY(-2px);
}

.color-card__icon--edit {
    left: 208px;
}

.color-card__icon--delete {
    left: 240px;
}
