.color-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
    gap: 10px;
    text-align: center;
    width: 340px;
    border-radius: 20px;
}

.color-form__input {
    height: 50px;
    border-radius: 20px;
    border: none;
    width: 300px;
    padding: 0px 20px;
    transition: border-radius 0.2s;
}

.color-form__input:hover {
    border-radius: 0px;
}

.color-form__button {
    height: 50px;
    width: 145px;
    border-radius: 20px;
    border: none;
    padding: 0px 50px;
    margin-right: 10px;
    font-weight: bold;
    transition: border-radius 0.2s;
}

.color-form__button:hover {
    border-radius: 0;
}

.color-form__button--save {
    color: #ffffff;
    background-color: #000000;
}

.color-form__button--discard {
    color: #000000;
    background-color: #ffffff;
}